*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
   background-color: rgb(107, 107, 241); /* Muda a cor de fundo  */
}
header{
    color: white; /*Muda a cor da font*/
    text-align: center; /*Centraliza o texto*/
    margin-top: 90px;
}
div#fundo{
    background: white; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px, 5px, 10px black

}
div{
    text-align: center;
    padding: 8px;
}
